.story {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  background-color: yellow;
  padding: 5px;
  margin: 5px;
  float: left;
}

.backlog {
  margin-top: 45px;
}

.backlog .story {
  background-color: #ccc;
  margin-top: -40px;
}

.lead-time{
  display: none;
}